    .first-card {
        text-align: left;
        justify-content: space-between;
    }
    .custom-card-image {
        height: 585px;
    }
    .main-section-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px
    }
    .main-section-title {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        color: hsl(0, 0%, 20%);
        max-width: 530px;
        background-image: url('/images/Ellipse.svg');
        background-repeat: no-repeat;
        background-position: 165px 1px;
    }
    .main-section-title h1 {
        font-size: 58px;
    }
    .main-section-title p {
        color: hsl(0, 0%, 29%);
        font-size: 24px;
        max-width: 520px;
        line-height: 32px;
    }
    .main-section-one {
        @media (max-width:1000px) {
            img {
                display: none;
            }
            .main-section-container {
                margin: auto;
            }
        }
        @media (max-width:700px) {
            img {
                display: none;
            }
            .main-section-container {
                margin: auto;
            }
        }
        @media (max-width:600px) {
            img {
                display: none;
            }
            .main-section-container {
                margin: auto;
            }
        }
    }