.main-section-four {
    display: flex;
    align-items: center;
    padding-top: 250px;
    gap: 300px;
}
.section-four-image {
    width: 100%;
}
.border-image {
    border-inline-end: 80px solid;
    border-block-end: 80px solid;
    border-image-source: radial-gradient(circle at bottom right, #FAE8DD,transparent 56%);
    border-image-slice: 1;

}
.section-four-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    & h2 {
        color: #647b64;
        font-size: 50px;
    }
    & h3 {
        color: #f3b562;
    }
    & p {
        width: 60%;
    }
}
.main-section-four {
    @media (max-width:1000px) {
        flex-direction: column;
        text-align: center;
        gap: 50px!important;
        .section-four-card-wrapper {
            align-items: center;
        }
    }
    @media (max-width:750px) {
        img {
            display: none;
        }
        padding-top: 20px;
    }
}